// Breakpoints
$breakpoint-mobile: 1200px;

// Typography
$font-family-base: "Roboto", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Colors
$black: #000000;
$white: #ffffff;

$orange-01: #f05841;

$gray-01: #73757f;
$gray-02: #3c3f4c;
