@use "../styles/abstracts" as *;

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  background: #fff;
}

.mainContent {
  padding: 24px 16px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;

  @include desktop {
    padding: 32px 20px;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h1 {
      margin: 0;
      font-size: 22px;
      font-weight: $font-weight-bold;
      color: $gray-02;

      @include desktop {
        font-size: 26px;
      }
    }

    p {
      margin: 0;
      font-size: 15px;
      color: $gray-01;
      line-height: 1.5;
    }
  }
}
