@use "./abstracts/index" as abstracts;
@use "./base/index" as base;

.appWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}
